	.curtable td{
		text-align: right;
	}

	.curtable td, .curtable th{
		padding: 5px;
		border: solid 1px #ccc;
	}
	.curtable th{
		background: #2c73bd;
		color: #fff;
		white-space: nowrap;
		text-align: center;
	}
	.curtable .main_col{
		background: #2c73bd;
		color: #fff;
		white-space: nowrap;
		text-align: center;
	}